linphone-iphone_with_3.9.1sdk/Classes/KIF/KIF.xcodeproj/xcuserdata/heqin.xcuserdatad/xcschemes/KIFFrameworkConsumer.xcscheme
linphone-iphone_with_3.9.1sdk/Classes/KIF/KIF.xcodeproj/xcuserdata/heqin.xcuserdatad/xcschemes/Test Host.xcscheme
linphone-iphone_with_3.9.1sdk/Classes/KIF/KIF.xcodeproj/xcuserdata/heqin.xcuserdatad/xcschemes/xcschememanagement.plist
linphone-iphone_with_3.9.1sdk/Classes/Utils/XMLRPC/XMLRPC.xcodeproj/xcuserdata/heqin.xcuserdatad/xcschemes/libXMLRPC.xcscheme
linphone-iphone_with_3.9.1sdk/Classes/Utils/XMLRPC/XMLRPC.xcodeproj/xcuserdata/heqin.xcuserdatad/xcschemes/xcschememanagement.plist
